* {
  box-sizing: border-box;
  font-family: Verdana, serif;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/main/images/bg.jpg");
  color: #cccccc;
}
