@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #2a2b2a;
    color: #e6e6e6;
  }


*, .splash {
  box-sizing: border-box;
  font-family: Verdana, serif;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/main/images/bg.jpg");
  background-repeat: no-repeat;
  color: #cccccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.container {
	padding: 20px;
}

.box {
	margin: auto;
	background-color: white;
	padding: 10px;
	width: 375px;
}

#glist {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 355px;
	height: 520px;
	padding: 0;
	text-align: center;
}

#gsearchbar {
	outline: none;
	width: 355px;
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 12px;
	margin-bottom: 10px;
	transition: 0.2s ease;
}

#gsearchbar:focus {
	background-color: #eee;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

#glist h2 {
	display: block;
	color: white;
	font: 18px;
	border: 1px solid #060606;
	margin: -1px 0 0 0;
	background-color: #060606;
	padding: 12px;
	font-weight: bold;
	user-select: none;
}

#glist a {
	display: block;
	text-decoration: inherit;
	color: black;
	font-size: 18px;
	border: 1px solid #dddddd;
	margin-top: -1px;
	background-color: #f6f6f6;
	padding: 12px;
	transition: 0.2s ease;
}

#glist a:hover {
	background-color: #eeeeee;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
